@model IEnumerable<ToDoList.Models.TodoList> 

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Post">Create a new task</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @item.Description
                </td>
                <td>
                    <form asp-action="MarkDone" method="post">
                        <input type="checkbox" class="done-checkbox" />
                        <input type="hidden" name="id" value="@item.Id" />
                    </form>
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Update</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>